%h1 Workouts
= link_to 'Workouts', workouts_path
%div{ 'ng-controller':  'indexCtrl' }
  
  %br
  %button{ 'ng-click': 'changeWorkout()' } Add New Workout
  %ul
    %li{ 'ng-repeat': 'workout in workouts.workouts' }
      %label 
        Workout:
        {{ workout.workout }}
      %br
      %label 
        Trainer:
        {{ workout.workout_trainer }}
      %br
      / .workouts will shove the array of workouts into the controller - you call it here to see it on the page
      %button{ 'ng-click': 'editWorkout(workout)' } Edit
      %button{ 'ng-click': 'deleteWorkout(workout.id)' } Delete
  %form{'ng-submit': "submitForm()"}
    %input{type: "text", placeholder: 'Workout', 'ng-model': 'formWorkout'}
    %input{type: "text", placeholder: 'Trainer', 'ng-model': 'formWorkoutTrainer'}
    %input{type: "submit"}