<!DOCTYPE html>
<html ng-app="workoutList">
<!-- first directive, says to angular to start app here -->
<head>
  <title>WorkoutPlan</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
